.btn--primary {
  background-color: white;
  padding: 8px 26px;
  border: 1px solid;
  font-size: 16px;
  min-width: 100px;
  cursor: pointer;
  &:hover {
    border: none; 
    background-color: #f0f0f0;
  }
}