.cover_full {
  height: 50vh;
}
.cover_medium {
  width: '100%';
  height: 50vh;
}

@media only screen and (min-width: 900px) {
  .cover_full {
    height: 100vh;
  }
  .cover_medium {
    height: 80vh;
  }
}

.easyload {
  opacity: 0;
  transition: all 1.2s ease;
}

.animateLeft {
  position: absolute;
  left: -100px;
  opacity: .4;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.2s;
}

.animate {
  position: absolute;
  top: 100px;
  left: -100px;
  opacity: 0;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.3s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    left: 0;
    opacity: 1;
  }
}
