* {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.innerContainer {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 800px;

  /* background-color: red; */
}

@media only screen and (min-width: 600px) {
  .innerContainer {
    padding: 0 24px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 900px) {
  .innerContainer {
    max-width: 80%;
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1380px) {
  .innerContainer {
    max-width: 1180px;
    padding: 0 24px;
  }
}


.text__heading--roboto {
  font-family: 'Roboto';
  font-weight: 500;
}

.text__paragraph--roboto {
  font-family: 'Roboto';
  font-weight: 200 ;
}



/** Animations */

@mixin animate__slide-in-left {
  position: absolute;
  top: 100px;
  left: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

.animate--easyload {
  opacity: 0;
  transition: all 1.2s ease;
}

.animate__slide-in-left--slow {
  @include animate__slide-in-left;
  animation-delay: 0.2s;
  opacity: .4;
}

.animate {
  @include animate__slide-in-left;
  animation-delay: 0.3s;
  opacity: 0;
}


@keyframes slide {
  100% {
    left: 0;
    opacity: 1;
  }
}
