* {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.wrap__inner {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 800px;

  /* background-color: red; */
}

@media only screen and (min-width: 600px) {
  .wrap__inner {
    padding: 0 24px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 900px) {
  .wrap__inner {
    max-width: 80%;
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1380px) {
  .wrap__inner {
    max-width: 1180px;
    padding: 0 24px;
  }
}

.t_heading--500 {
  font-family: 'Roboto';
  font-weight: 500;
}

.t__heading--400 {
  font-family: 'Roboto';
  font-weight: 400;
}

.-size-l {
  font-size: 64px;
}

.top-10 {
  top: 10px;
}


.t_paragraph--200 {
  font-family: 'Roboto';
  font-weight: 200 ;
}

.-w-half {
  width: 45%;
}

.-c-white {
  color: white
}

.-p-absolute {
  position: absolute;
}

.-d-flex {
  display: flex;
}


.t__heading--centered--big {
  padding-top: 100px;
  text-align: center;
}

.-pt-big {
  padding-top: 200px;
}

.-align-center {
  align-items: center;
}

/////////////////////
/** Animations */

@mixin animate__slide-in-left {
  position: absolute;
  left: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

.animate--easyload {
  opacity: 0;
  transition: all 1.2s ease;
}

.animate__slide-in-left--slow {
  @include animate__slide-in-left;
  animation-delay: 0.2s;
  opacity: .4;
}

.animate__slide-in-left--fast {
  @include animate__slide-in-left;
  top: 100px;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes slide {
  100% {
    left: 0;
    opacity: 1;
  }
}
